body {
  margin: 0;
  overflow-y: hidden;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@keyframes twinkle-1 {
  50% {
    transform: scale(0.5);
    opacity: 0.5;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.react-flow__controls-button{
  background-color: #A9B388 !important; 
  border: 1px solid #B99470 !important;
  padding: 10px !important;
  transition: background-color 0.3s;
}

.react-flow__controls-button svg{
  fill: #5F6F52;
}

.leaflet-container {
  background-color: #FEFAE0 !important;
  width: 1280px;
  height: 720px;
}


.request-popup .leaflet-popup-content-wrapper {
  border-radius: 0px;
  background-color: #5F6F52 !important;
}

.leaflet-popup-content-wrapper {
  background-color: #5F6F52 !important;
  color: #FEFAE0 !important;
}

.leaflet-popup-tip{
  background-color: #5F6F52 !important;
}

.leaflet-popup-close-button{
  color: #FEFAE0 !important;
  font-size: 25px !important;
}