body {
  margin: 0;
  overflow-y: hidden;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@keyframes twinkle-1 {
  50% {
    transform: scale(0.5);
    opacity: 0.5;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.react-flow__controls-button{
  background-color: #A9B388 !important; 
  border: 1px solid #B99470 !important;
  padding: 10px !important;
  transition: background-color 0.3s;
}

.react-flow__controls-button svg{
  fill: #5F6F52;
}

.leaflet-container {
  background-color: #FEFAE0 !important;
  width: 1280px;
  height: 720px;
}


.request-popup .leaflet-popup-content-wrapper {
  border-radius: 0px;
  background-color: #5F6F52 !important;
}

.leaflet-popup-content-wrapper {
  background-color: #5F6F52 !important;
  color: #FEFAE0 !important;
}

.leaflet-popup-tip{
  background-color: #5F6F52 !important;
}

.leaflet-popup-close-button{
  color: #FEFAE0 !important;
  font-size: 25px !important;
}

.border {
  display: flex;
  justify-content: center;
  align-items: center;
  width: max-content;
  padding: 10px;
  background: linear-gradient(90deg, black 50%, transparent 50%), linear-gradient(90deg, black 50%, transparent 50%), linear-gradient(0deg, black 50%, transparent 50%), linear-gradient(0deg, black 50%, transparent 50%);
  background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
  background-size: 15px 4px, 15px 4px, 4px 15px, 4px 15px;
  background-position: 0px 0px, 375px 677px, 0px 677px, 375px 0px;
  
  animation: border-dance 0.5s infinite linear;
}

@keyframes border-dance {
  0% {
      background-position: left top, right bottom, left bottom, right top;
  }
  
  100% {
      background-position: left 15px top, right 15px bottom, left bottom 15px, right top 15px;
  }
  }

.arjs-loader {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
 
}

.arjs-loader div {
  text-align: center;
  font-size: 50px !important;
  font-family: 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  color: white;
}