body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.react-flow__controls-button{
  background-color: #A9B388 !important; 
  border: 1px solid #B99470 !important;
  padding: 10px !important;
  transition: background-color 0.3s;
}

.react-flow__controls-button svg{
  fill: #5F6F52;
}

.leaflet-container {
  width: 100vh;
  height: 100vh;
}
